<div>

    <h1>Aqui estan nuestros {{ title }}</h1>

    {{!-- {{#each}}
        <hr>
        <p>Nombre del producto{{ this.name }}</p>
        <p>precio {{ this.price }}</p>
        <p>stock {{ this.name }}</p>
        <p>descripcion {{ this.name }}</p>

    {{/each}} --}}
</div>
<script src="/js/products.js"></script>